


.st-emotion-cache-sh2krr.e1nzilvr5{
    color: white;
    text-align: center;
    font-size: 35px;
}


.st-emotion-cache-xwtqgq.e1b2p2ww15{
    background-color: rgb(52, 56, 61);
    border-radius: 10%;
    border-color: white;
    box-shadow: 0 0 0 2px cyan;
}



.st-emotion-cache-9ycgxx.e1b2p2ww12{
    color: white;
    text-align: left;
    font-size: 15px;
}

.st-emotion-cache-7oyrr6.e1bju1570{
    color: white;
    text-align: left;
    font-size: 15px;
}


/*https://uiverse.io/gharsh11032000/neat-bullfrog-61*/
.st-emotion-cache-hc3laj{
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: white;
    box-shadow: 0 0 0 2px #ffffffc0;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}



.st-emotion-cache-hc3laj:hover{
    box-shadow: 0 0 0 5px #cc00ff60;
    color: #ffffff;
    transform: translate3d(5px, 35px, 0px) perspective(95px) rotateY(-10deg) translateY(-10px);
    transition: 1s;
    overflow: hidden;
}




/* Span = # (identificação não por tag)*/

/* BOTAO DE RECARREGAR A PAGINA ESCONDIDO AQUI*/

/*#MainMenu{
    visibility: hidden;
}*/


.stDeployButton{
    visibility: hidden;
}

/*Borda st.metric*/
.st-emotion-cache-ocqkz7.e1f1d6gn5{
    /*background-color: #534949;*/
    border: 1px solid #dcdcdc;
    padding: 20px 20px 20px 70px;
    padding: 5% 5% 5% 10%;
    border-radius: 15px;
    text-align: left;
}


/*Números*/
.st-emotion-cache-1r6slb0.e1f1d6gn3{
    background-color: transparent;
    color: white;
    text-align: left;
}

.st-emotion-cache-1r6slb0.e1f1d6gn3:hover{
    background-color: transparent;
    color: rgb(146, 101, 197);
    text-align: left;
    transform: translate3d(5px, 10px, 0px) perspective(95px) translateY(-5px);
    transition: 1s;
}



/*Container de separação*/
.st-emotion-cache-cnbvxy.e1nzilvr5{
    text-align: center;
    color: rgb(248, 248, 248);
    font-size: 20px;
}










